src/**/*.test.ts
src/test/**

dist/test/**

dist/**/*.test.js
dist/**/*.test.js.map
dist/**/*.test.d.ts

dist/**/*.test-harness.js
dist/**/*.test-harness.js.map
dist/**/*.test-harness.d.ts

dist.esm/test.js
dist.esm/test.d.ts
dist.esm/test.js.map
dist.esm/test/**

dist.esm/**/*.test.js
dist.esm/**/*.test.js.map
dist.esm/**/*.test.d.ts

dist.esm/**/*.test-harness.js
dist.esm/**/*.test-harness.js.map
dist.esm/**/*.test-harness.d.ts

corpus.*/
.corpus/

.nycrc

integration-tests/
